
@{
    ViewBag.Title = "update";
}
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: sans-serif;
            line-height: 1.5;
            min-height: 100vh;
            background: #f3f3f3;
            flex-direction: column;
            margin: 0;
            background-image: url(../../Content/images/1900857.png);
        }

        .main {
            background-color: silver;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 500px;
            text-align: center;
        }

        h1 {
            color: cornflowerblue;
        }

        label {
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
            text-align: left;
            color: #555;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        input[type="password"],
        input[type="Email"] {
            display: block;
            width: calc(100% - 20px);
            margin: 0 auto 15px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .gender-label {
            display: flex;
            align-items: center;
            justify-content: start;
            margin-bottom: 15px;
        }

            .gender-label input {
                width: auto;
                margin: 0 10px 0 0;
            }

        #button {
            padding: 15px;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            border: none;
            color: white;
            cursor: pointer;
            background-color: cornflowerblue;
            width: 100%;
            font-size: 16px;
        }

        #Btn {
            width: 100%;
            background-color: cornflowerblue;
            border: none;
            color: white;
            padding: 15px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
        }

        .error {
            color: red;
        }

        /* Modal Styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 300px;
            border-radius: 10px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        .otp-input {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        #otpVerifyButton {
            width: 100%;
            background-color: cornflowerblue;
            border: none;
            color: white;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Registration Form</h1>
        <form id="registrationForm">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName">
            <div id="fnameError" class="error"></div>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName">
            <div id="LnameError" class="error"></div>

            <label for="gender" class="gender-label">Gender:</label>
            <div class="gender-label">
                <input type="radio" id="male" name="gender" value="male"> Male <br />
                <input type="radio" id="female" name="gender" value="female"> Female <br />
            </div>
            <div id="genderError" class="error"></div>

            <label for="email">Email:</label>
            <input type="email" id="email">
            <div id="emailError" class="error"></div>

            <label for="age">AGE:</label>
            <input type="number" id="age">
            <div id="ageError" class="error"></div>

            <label for="phone">Phone:</label>
            <input type="text" id="phonenumber" maxlength="10">
            <div id="phError" class="error"></div>

            <label for="password">Password:</label>
            <input type="password" id="regpass">
            <div id="passwordError" class="error"></div>

            <input type="button" id="Btn" value="Update">
        </form>


    </div>

    <script src="~/Scripts/appjs/update.js" </script>

</body>

</html>



